@charset 'utf-8';
/* about */

section.context {
  border-top: 4px solid #a7dbdd;
  border-bottom: 4px solid #ccc;
}

section.context.none {
  border-top: none;
  border-bottom: none;
}

header.about h1 {
  padding: 20px 0;
  line-height: 1.2em;
}

p.read {
  max-width: 800px;
  margin: auto;
}

article.read .con {
  margin-right: auto;
  margin-left: auto;
}

article.read .con > p {
  margin-bottom: 2em;
}

figure.inchou {
  text-align: center;
}

figure.inchou img {
}

figure.inchou dl {
  display: block;
}

figure.inchou dl dt {
  font-size: 18px;
  text-align: center;
}

figure.inchou dl dd {
  font-size: 18px;
  padding-top: 10px;
}

figure.inchou .person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure.inchou .person p {
  font-size: 24px;
}
figure.inchou small.kana {
  display: block;
  font-size: 14px;
  margin-left: 2em;
}
figure.inchou .person p > small {
  font-size: 18px;
  margin-right: 1em;
}

.profile {
  margin-top: 45px;
  margin-bottom: 0px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.profile dl.left {
  background-color: #f9f9f9;
  padding: 40px 15px;
}
.profile dl.mid {
  width: 100%;
  padding: 40px 15px;
}
.profile dl.right {
  background-color: #f9f9f9;
  padding: 40px 15px;
}

.profile dt {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 0.8em;
}
.profile dd {
  font-size: 15px;
}
.profile dd p {
  display: flex;
  margin-bottom: 0.6em;
}

.profile dd p span {
  width: 74px;
}

.panel {
  display: block !important;
  max-width: 1130px;
  margin: 40px 0;
}

.panel {
  display: block !important;
  margin: 30px 0;
}

.panel .flex-colum {
  float: left;
  width: 50%;
  padding: 10px 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.panel figure {
  text-align: center;
  background-color: white;
}

.panel figure img {
  display: block;
  max-width: 100%;
}

.panel .flex-colum p {
  font-size: 15px;
  background-color: white;
  padding: 15px 15px;
  border: 1px solid #ccc;
  min-height: auto;
}

.panel figcaption {
  text-align: left;
  background-color: #25b9bd;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

/* ------------------------------------------------------------------
  
     MAIN-VISUAL
  
  ------------------------------------------------------------------- */

#main-visual {
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}

.bg-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top left;
}

.bg-img header.content {
  padding-top: 135px;
}

.bg-img header.content h1 {
  padding-top: 0;
}

.bg-img.about {
  background-image: url(../img/about/about_gray.png);
}

.gray-white .bg-img.room {
  background-image: url(../img/about/room_gray.png);
}

#main-visual.top {
  position: relative;
  background-image: url(../img/about/visual_H445px.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

@media screen and (min-width: 1100px) {
  #main-lauout .bg-img.room {
    background-image: url(../img/about/room.png);
  }
  article.read {
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
  }

  article.read .con {
    margin-right: 60px;
    margin-left: 60px;
  }

  article.read .con > p {
    margin-bottom: 2em;
    letter-spacing: -0.2px;
  }
  #main-lauout .contact-info {
    margin-top: 0px;
  }

  .white-box {
    padding: 90px 0 145px 0;
    background-color: white;
  }
  .profile {
    margin-top: 45px;
    margin-bottom: 60px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile dl.left {
    padding: 0;
    background-color: transparent;
  }
  .profile dl.right {
    padding: 0;
    background-color: transparent;
  }
  .profile dl.mid {
    width: 485px;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    padding: 0 35px 0 35px;
  }

  .profile dt {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0.8em;
  }
  .profile dd {
    font-size: 15px;
  }
  .profile dd p {
    margin-bottom: 0.6em;
  }

  .panel {
    max-width: 1130px;
    margin: 45px -15px 60px -15px;
  }

  .panel .flex-colum {
    float: left;
    width: 33.333%;
    padding: 20px 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1099px) {
}

@media screen and (max-width: 768px) {
  .bg-img.bg {
    background-size: auto 70px;
  }

  .bg-img header.content {
    padding-top: 70px;
  }
}

@media screen and (min-width: 750px) {
  #main-visual.top {
    height: 55vh;
  }

  header.about h1 {
    padding: 40px 0;
  }
}

@media screen and (min-width: 600px) {
  #main-visual.top {
    height: 40vh;
  }
}

@media screen and (max-width: 599px) {
  img.max200 {
    max-width: 200px;
  }
}
