@charset 'utf-8';
/*
【CSSブレークポイント】
• スマートフォン：設定なし（実質599px以下）
• タブレット：600px [min-width : 600px]
• PC：1,100px [min-width : 1,100px]
*/

#main-visual header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 1;
}

#main-visual header h1 {
  color: white;
  font-size: 22px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.56),
    4px 2px 6px rgba(12, 12, 12, 0.3);
}

figure.full img {
  width: 100%;
  height: auto;
}

section.gray,
div.gray {
  background-color: #f9f9f9;
}

.white {
  background-color: #fff;
}

.gray-bg {
  background-color: #f9f9f9;
}

#main-lauout .gray-white {
  background-color: #fff;
}

#main-lauout .white-gray {
  background-color: #f9f9f9;
}

@media screen and (min-width: 1100px) {
  .flex-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  #main-lauout .gray-white {
    background-color: #f9f9f9;
  }

  #main-lauout .white-gray {
    background-color: #fff;
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  img.auto {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.flex-h.start {
  align-items: flex-start;
}

.flex-h.center {
  justify-content: center;
}

.flex-column.start {
  justify-content: flex-start;
}

/* ------------------------------------------------------------------------

　HEADER

------------------------------------------------------------------------- */

#header {
  background-color: transparent;
  width: 100%;
  z-index: 10;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header.white {
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
}

.h_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h_nav .info {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #a5a5a5;
  margin-bottom: 15px;
}

.h_nav .info .gray {
  color: #727171;
}

.h_nav .info .arrow a:before {
  content: "\f105";
  font-family: fontawesome;
  color: #25b9bd;
  margin-right: 5px;
}

#header .site-logo {
  position: relative;
  display: block;
  z-index: 100;
}

#header .site-logo small {
  color: #727171;
  position: absolute;
}

.h_nav .site-info {
  display: none;
}

#header .header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-frame {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-frame .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  height: 75px;
  font-weight: bold;
  background-color: #e6f5f6;
  border-radius: 5px;
  line-height: 1em;
  text-align: left;
  margin-bottom: 0px;
  min-width: auto;
}

.contact-frame .btn .txt {
  margin-left: 15px;
}

#header .header-info .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  height: 75px;
  font-weight: bold;
  background-color: #e6f5f6;
  border-radius: 5px;
  line-height: 1em;
  text-align: left;
  margin: 0;
  min-width: auto;
}

.contact-frame .btn .txt,
#header .header-info .btn .txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.contact-frame .btn .txt *,
#header .header-info .btn .txt * {
  line-height: 1.2em;
  font-size: 14px;
  text-align: left;
}

#header .header-info .btn img {
  max-width: 100%;
}

#header .header-info .btn.tel {
  width: 288px;
}

#header .header-info .btn.mail {
  width: 248px;
}

#header .header-info .btn img {
  margin-right: 15px;
}
.contact-frame .btn.tel,
#header .header-info .btn.tel {
  border-color: #3fb1b5;
}

.contact-frame .btn div,
#header .header-info .btn div {
  color: #878989;
}

.contact-frame .btn.tel .primary,
#header .header-info .btn.tel .primary {
  color: #3fb1b5;
  font-size: 20px;
  letter-spacing: 1px;
}

.contact-frame .btn.mail,
#header .header-info .btn.mail {
  border-color: #4cc38a;
  background-color: #e2f4eb;
}

.contact-frame .btn.mail .primary,
#header .header-info .btn.mail .primary {
  color: #4cc38a;
  font-size: 20px;
}

#header ul.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header ul.nav.pc li.parent {
  position: relative;
  display: block;
  width: 25%;
}

ul.nav li a {
  color: #828181;
}

#header ul.nav li.parent > a.menu {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header ul.nav.pc li.parent ul.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 1.5em;
  width: 100%;
  background-color: #fff;
  border-top: 5px solid rgba(0, 0, 0, 0);
  padding: 1em;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

#header ul.nav.pc li.parent ul.sub-menu:hover,
#header ul.nav.pc li.parent:hover ul.sub-menu {
  display: block;
}

#header ul.nav.pc li.parent ul.sub-menu li.menu-item {
  padding: 5px;
}

#header ul.nav.pc li.parent ul.sub-menu li.menu-item a {
  color: #333;
}

#header ul.nav ul.sub-menu li.menu-item a:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding: 0 5px;
  color: #3fb1b5;
}

.breadcrumb-wrap {
  width: 100%;
  text-align: left;
  background-color: #f2f2f2;
}

.breadcrumb {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: transparent;
}

.breadcrumb-wrap .breadcrumb {
  display: flex;
  align-items: center;
  height: 45px;
}

.breadcrumb-wrap .breadcrumb > li + li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding: 0 5px;
  color: #333;
}

.breadcrumb li {
  color: #333;
}

.breadcrumb a span {
  color: #023883;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------------
  
   FOOTER
  
  ------------------------------------------------------------------------- */

#footer {
  position: relative;
  border-top: 4px solid #ccc;
}

#footer:before {
  content: "";
  display: block;
  height: 8px;
  background-color: #a7dbdd;
  width: 100%;
}

#footer .container {
  position: relative;
}

#footer .footer-copy .container {
  padding-top: 0;
}

#footer .logo {
  padding: 0 0 20px 0;
}
#footer .logo img {
  max-width: 70vw;
}

#footer .flex-footer {
  padding-left: 40px;
  padding-right: 40px;
}

#footer .flex-footer .flex-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#footer .flex-footer ul.nav li {
  vertical-align: middle;
}

#footer .flex-footer ul.nav li {
  border-bottom: none;
}

#footer .flex-footer ul.nav li.parent {
  display: block;
  margin-bottom: 10px;
}

#footer .flex-footer ul.nav li.parent > a {
  display: block;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #060606;
  font-weight: bold;
  border-bottom: 1px solid #bfbfbf;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .flex-footer ul.sub-menu li.menu-item {
  border-bottom: 1px solid #bfbfbf;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .flex-footer ul.nav li a:before {
  content: "\f105";
  font-family: fontawesome;
  color: #25b9bd;
  margin-right: 1em;
}

#footer .flex-footer ul.sub-menu {
  padding-left: 20px;
}

#footer .flex-footer ul.sub-menu li a {
  color: #25b9bd;
}

#return_top {
  position: relative;
}

#return_top a {
  position: relative;
  z-index: 2;
  display: block;
}

#return_top img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  width: auto;
  z-index: 1;
}

/* ------------------------------------------------------------------------
  
   PAGE CONTENTS
  
  ------------------------------------------------------------------------- */

#main-lauout section.gray-bg {
  background-color: #f7f7f7;
}

#main-lauout section.white-bg {
  background-color: #fff;
}

.shadow {
  -moz-box-shadow: 1px 11px 12px -2px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 1px 11px 12px -2px rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 1px 11px 12px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 1px 11px 12px -2px rgba(0, 0, 0, 0.14);
}

/**
 * PC
 */

@media screen and (min-width: 1100px) {
  .h1,
  header h1 {
    font-size: 38px;
  }
  .h2,
  header h2 {
    font-size: 20px;
  }
  .h3,
  header h3 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  #main-lauout .pc-only {
    display: block !important;
  }
  #main-lauout .sp-only {
    display: none !important;
  }
  #main-lauout [class*="btn-"] {
    font-size: 16px;
  }
  .h_nav .site-info {
    display: block;
    width: 550px;
  }
  .site-logo img {
    width: 100%;
    height: 60px;
  }
  #header .site-logo small {
    left: 78px;
    top: -4px;
    font-size: 13px;
    color: #727171;
  }
  .h_menu {
    display: none;
  }
  #header {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  /* 下層ページはヘッダー部にラインを引く*/
  body.single #header,
  body.page #header {
    border-bottom: 1px solid #d2d2d2;
  }
  #header ul.nav {
    margin-right: 0;
    margin-left: auto;
    margin-top: 45px;
  }

  #header ul.nav li.parent > a {
    padding: 0 10px;
    text-align: left;
    font-size: 16px;
    border-left: 1px solid #b5b5b5;
  }
  #header ul.nav li.parent:last-child > a {
    border-right: 1px solid #b5b5b5;
  }

  /* サイトメイン幅 */
  .container {
    width: 1100px;
  }
  #header ul.nav {
    margin-top: 40px;
  }
  #footer .container {
    padding-top: 80px;
  }
  #footer .flex-footer .flex-row.left,
  #footer .flex-footer .flex-row.center,
  #footer .flex-footer .flex-row.right {
    width: 350px;
  }
  #footer .flex-footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-copy {
    width: 100%;
    height: 60px;
    color: #010101;
    background-color: #fff;
    margin-top: 135px;
  }

  .footer-copy .copy {
    text-align: center;
  }

  .contact-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-frame .btn {
    width: 49%;
  }

  #return_top a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1em;
  }
}

/**
  * tablet
  */

@media screen and (min-width: 1100px) {
  #header ul.nav li.parent > a.menu > img {
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  #main-visual header h1 {
    font-size: 35px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.56),
      4px 2px 6px rgba(12, 12, 12, 0.3);
  }
}

@media screen and (max-width: 1099px) {
  .h1,
  header h1 {
    font-size: 24px;
  }
  .h2,
  header h2 {
    font-size: 20px;
  }
  .h3,
  header h3 {
    font-size: 16px;
  }

  #main-lauout .pc-only {
    display: none !important;
  }
  #main-lauout .sp-only {
    display: block !important;
  }
  #main-lauout [class*="btn-"] {
    font-size: 14px;
  }
  main .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .admin-bar #header {
    margin-top: 46px;
  }
  .admin-bar .meanmenu-reveal-btn {
    top: 46px;
  }
  #header {
    padding-top: 8px;
    background-color: #fff;
    position: fixed;
    top: 0;
  }
  #header ul.nav {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  #header .mean-nav ul.nav {
    display: block;
  }

  #header ul.nav li.parent > a.menu {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
  #header ul.nav li.parent > a.menu > img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7px;
  }

  .breadcrumb-wrap {
    margin-top: 0px;
  }
  .breadcrumb-wrap .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  #header .site-logo {
    margin: 0 auto;
    padding: 20px 0;
  }
  #header .site-logo small {
    font-size: 9px;
    left: 50px;
  }
  .site-logo img {
    width: 100%;
    height: auto;
    max-width: 240px;
    padding-top: 4px;
  }

  .mean-container .mean-nav ul.sub-menu li a {
    font-size: 14px;
  }

  .container {
    width: 100%;
  }
  #footer > .container {
    padding-top: 40px;
  }
  #footer .flex-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .footer-copy .copy {
    margin: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 50px;
  }

  .contact-frame .btn {
    margin-bottom: 20px;
  }
}

/**
   * sp
   */

@media screen and (max-width: 599px) {
  ::placeholder {
    font-size: 10px;
  }
  html #wpadminbar {
    position: fixed;
    top: 0;
  }

  #header.on ul.nav {
    display: none;
  }
  #header ul.nav li.parent > a.menu {
    font-size: 10px;
  }
  main .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .breadcrumb-wrap .breadcrumb {
    height: 40px;
  }
  .breadcrumb-wrap .breadcrumb li a,
  .breadcrumb-wrap .breadcrumb li {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .footer-copy .copy {
    font-size: 10px;
  }
  #main-lauout.contact table.form td input[type="text"],
  #main-lauout.contact table.form td input[type="tel"],
  #main-lauout.contact table.form td input[type="email"] {
    width: auto;
    max-width: 240px;
  }
}

/* ------------------------------------------------------------------
  
     MAIN-VISUAL
  
  ------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  .h_nav {
    padding: 0 20px;
  }
  #main-visual {
    background-size: contain;
    margin-top: 159px;
  }
}

@media screen and (max-width: 600px) {
  .h_nav {
    display: block;
    padding-left: 11vw;
  }
  #header .site-logo {
    display: inline-block;
  }
  .breadcrumb a span {
    font-size: 11px;
  }
}

@media screen and (max-width: 420px) {
  .h_nav {
    display: block;
    padding-left: 8.6vw;
  }
}

@media screen and (max-width: 360px) {
  .site-logo img {
    max-width: 200px;
  }
}

/* 縦 */

@media (orientation: landscape) and (max-width: 768px) and (max-width: 1024px) {
}

/* 横 */

@media (orientation: landscape) and (min-width: 559px) and (max-width: 1024px) {
  #main-visual {
    background-size: cover;
  }
}

/* 非表示コンテンツ */

.hide {
  display: none !important;
}
