@charset 'utf-8';
/* contact-info */
.contact-info {
  max-width: 1100px;
  margin: 0 auto 40px;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  background-color: #f9f9f9;
}

.contact-info .read {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-info dt {
  font-weight: bold;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5em;
}

.contact-info dd {
  padding: 1em 0 0;
}

.contact-info .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  height: 75px;
  font-size: 14px;
  font-weight: bold;
  background-color: #e6f5f6;
  border-radius: 5px;
  line-height: 1em;
  text-align: left;
  margin: 0;
}

.contact-info .btn.tel {
  width: 100%;
  white-space: nowrap;
}

.contact-info .btn.mail {
  width: 100%;
  white-space: nowrap;
}

.contact-info .btn img {
  margin-right: 15px;
}

.contact-info .btn div {
  font-size: 14px;
  text-align: left;
  line-height: 1.2em;
}

.contact-info .btn.tel {
  border-color: #3fb1b5;
}

.contact-info .btn.tel div {
  color: #878989;
}

.contact-info .btn.tel .primary {
  color: #3fb1b5;
  font-size: 20px;
  letter-spacing: 1px;
}

.contact-info .btn.mail {
  border-color: #4cc38a;
  background-color: #e2f4eb;
}

.contact-info .btn.mail div {
  color: #878989;
}

.contact-info .btn.mail .primary {
  color: #4cc38a;
  font-size: 20px;
}

.contact-info dl {
  margin-bottom: 20px;
}

.contact-info dl:last-child dd p {
  min-height: 1em;
}

@media screen and (min-width: 1100px) {
  .contact-info header h2 {
    font-size: 30px;
  }

  .contact-info {
    margin: 150px auto 40px;
    padding: 45px;
  }

  .contact-info dl {
    width: 48.5%;
  }
  .contact-info dd p {
    height: 2.5em;
  }
}

@media screen and (max-width: 1099px) {
  .contact-info dd p {
    min-height: 3.5em;
  }
}
