@charset 'utf-8';


 /* contact */
  
  
 #main-lauout.contact .read-box .flex{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  }
  


#main-lauout.contact table.form tr:first-child{
border-top: 1px solid #ddd;
}

#main-lauout.contact table.form tr:last-child{
border-bottom: 1px solid #ddd;
}

#main-lauout.contact table.form tr:nth-child(odd) th,
#main-lauout.contact table.form tr:nth-child(odd) td{
    background-color: #f7f7f7;
}

#main-lauout.contact table.form tr:nth-child(even) th,
#main-lauout.contact table.form tr:nth-child(even) td{
background-color: #fff;
}

#main-lauout.contact table.form th{
text-align: left;
font-weight: bold;
vertical-align: top;
}

#main-lauout.contact table.form td{
text-align:left;
vertical-align: top;
}


#main-lauout.contact table.form .re{
font-size:11px;
color: #fff;
background-color: #eb6877;
text-align:center;
padding: 3px 5px;
margin-left:1em;
}


#main-lauout.contact table.form td .v .wpcf7-checkbox{
display: flex;
    flex-direction: column;
}

#main-lauout span.wpcf7-list-item{
margin:0;
}

#main-lauout.contact .flex-btn.center{
display: flex;
align-items: center;
justify-content:center;
}

#main-lauout .cyui{
    font-size:14px;
    max-width: 780px;
    margin: 40px auto 0 auto;
}

#main-lauout ul.kome li{
display: flex;
align-items: start;
justify-content:flex-start;
color: #0061ab;
}

#main-lauout ul.kome li:before{
content: '※';
display: inline-block;
color: #0061ab;
margin-right: 0.2em;
}


#main-lauout .gender .wpcf7-list-item{
    margin-right: 2em;
}