@charset 'utf-8';
/* home */

.pos {
  position: relative;
}

section.context {
  border-top: 4px solid #a7dbdd;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 4px solid #ccc;
}

section.context.none {
  border-top: none;
}

section.context.pb-none {
  padding-bottom: 0;
}

header.home h1 {
  padding: 20px 0;
  line-height: 1.2em;
}

p.read {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.corona {
  max-width: 800px;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: unset;
  background-color: white;
}

.corona .box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px 40px;
  color: #000;
  height: 165px;
}
.corona .box.blue {
  background-color: #a7dbdd;
  border: 1px solid #a7dbdd;
}
.corona .box.white {
  background-color: #fff;
  border: 1px solid #a7dbdd;
}

.corona .box.white img {
  max-width: 100%;
  width: 70vw;
}

.corona .box.blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a7dbdd;
}

.corona .box.blue h2 {
  line-height: 1.2em;
  margin-bottom: 15px;
}
.corona .box.blue h2 br {
  display: none;
}

.corona .btn {
  width: 100%;
  min-width: auto;
  background-color: #fff;
  color: #a7dbdd;
}

.sec-1 header {
  margin-bottom: 15px;
}

.ptb {
  padding: 30px 0;
}

.bg-img header.content {
  padding-top: 135px;
}

.bg-img header.content h1 {
  padding-top: 0;
}

.box-left.white {
  background-color: #fff;
  padding: 20px 15px;
}

.box-left p {
  margin-bottom: 15px;
}

.number-list {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.number-list li {
  padding: 15px 15px 15px;
  text-align: center;
  background-color: white;
}

.number-list li:nth-child(odd) {
  background-color: #f9f9f9;
}

.number-list li p {
  font-size: 15px;
  min-height: 5em;
}

.number-list.none li p {
  min-height: auto;
}

.number-list li img {
  max-width: 100%;
}

.number-list .number {
  display: flex;
  align-items: center;
}

.number-list .number span {
  font-size: 20px;
  color: inherit;
  line-height: 1.2em;
}

.number-list .number .num {
  font-size: 60px;
  font-weight: bold;
  padding-right: 15px;
}

.problem.container {
  padding: 0;
}

.problem .list {
  margin-top: 40px;
}

.problem .list.fix .flex-colum {
  display: flex;
  padding: 15px;
  background-color: white;
}

.problem .list.fix .flex-colum:nth-child(odd) {
  background-color: #f9f9f9;
}

.problem .list.fix .flex-colum > * {
  width: 50%;
}

.problem .list.fix .flex-colum p {
  padding-top: 1.5em;
  padding-left: 1em;
}

.problem .list figcaption {
  text-align: center;
  font-weight: bold;
}

.vaccine .full-box {
  max-width: 1100px;
  margin: 0 auto 20px;
  padding: 20px 15px;
  background-color: #e6f5f6;
}

.vaccine .full-box figure {
  text-align: center;
}

.vaccine .reverse {
  display: flex;
  flex-direction: column-reverse;
}

.vaccine .full-box p {
  padding-top: 15px;
  line-height: 1.8em;
}

.vaccine .panel {
  max-width: 1130px;
  margin: 0 auto 0 auto;
  align-items: flex-start;
}

.vaccine .panel .flex-colum {
  padding: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}

.vaccine .panel figure {
  text-align: center;
  background-color: white;
}

.vaccine .panel figure img {
  display: block;
  max-width: 100%;
}

.vaccine .panel .flex-colum p {
  font-size: 15px;
  background-color: white;
  padding: 0.6em 15px;
  border: 1px solid #ccc;
  min-height: auto;
}

.vaccine .panel figcaption {
  text-align: left;
  background-color: #25b9bd;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.case figure {
  text-align: center;
  margin-bottom: 20px;
}
.case figure.pos figcaption {
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

.question-list {
  max-width: 1100px;
  margin: auto;
}
.question-list .box {
  display: flex;
  justify-content: flex-start;
  padding: 20px 15px;
}

.question-list .flex-column:nth-child(2) .box:nth-child(even) {
  background-color: #f9f9f9;
}
.question-list .box span {
  font-size: 30px;
}

.question-list .box p {
  padding-top: 0.2em;
  padding-left: 2em;
}

.access .map {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.access .access-info {
  padding-left: 30px;
}

.access-info .logo {
  padding: 30px 0;
}
.access-info .logo img {
  max-width: 50vw;
}

.access .access-info dt {
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 5px 0;
  margin: 1em auto;
}
.access .access-info dd {
  line-height: 1.8em;
}
.access .access-info dd p {
  margin-bottom: 1em;
}

/* ------------------------------------------------------------------
  
     MAIN-VISUAL
  
  ------------------------------------------------------------------- */

#main-visual {
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}

.bg-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top left;
}

.bg-img.about {
  background-image: url(../img/home/about.png);
}

.bg-img.access {
  background-image: url(../img/home/access.png);
}

.bg-img.features {
  background-image: url(../img/home/features.png);
}

.bg-img.problem {
  background-image: url(../img/home/problem.png);
}

.bg-img.vaccine {
  background-image: url(../img/home/vaccine.png);
}

.bg-img.case {
  background-image: url(../img/home/case.png);
}

.bg-img.question {
  background-image: url(../img/home/question.png);
}

#main-visual.home {
  position: relative;
  background-image: url(../img/home/visual_H445px.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

@media screen and (min-width: 1100px) {
  section.context {
    border-top: none;
    border-bottom: none;
  }
  .bg-img {
    background-size: auto;
  }
  body.home #main-visual.home {
    height: 445px;
    background-size: cover;
  }

  .corona .box {
    width: 50%;
  }

  .bg-img.sec-1 {
    max-width: 1100px;
    margin: 0 auto;
    height: 500px;
    padding-top: 20px;
    background-image: url(../img/home/sec_1.png);
    background-position: top right;
  }

  .box-left.white {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    padding: 30px 45px;
    width: 450px;
    border: 1px solid #c9c9c9;
    margin-left: 0;
    margin-right: auto;
  }
  .pos .bg-right {
    display: none;
  }
  .number-list li p {
    min-height: 170px;
  }
  .number-list.none li p {
    min-height: auto;
  }
  .number-list li.border {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .number-list li.border-left {
    border-left: 1px solid #eee;
  }

  .number-list li {
    width: 33.333%;
    background-color: transparent;
  }
  .number-list li:nth-child(odd) {
    background-color: transparent;
  }

  .problem .list {
    margin-top: 40px;
  }

  .problem .list.fix .flex-colum {
    flex-direction: column;
    padding: 0;
    background-color: white;
  }

  .problem .list.fix .flex-colum:nth-child(odd) {
    background-color: white;
  }

  .problem .list.fix .flex-colum > * {
    width: 100%;
  }

  .problem .list.fix .flex-colum p {
    padding-top: 5px;
    padding-left: 0;
  }

  .vaccine .full-box h2 {
    font-size: 26px;
  }
  .vaccine .full-box {
    padding: 40px 70px 40px 25px;
  }
  .vaccine .full-box figure {
    width: 200px;
  }

  .vaccine .full-box p {
    width: 820px;
  }
  .vaccine .reverse {
    flex-direction: row;
  }

  .vaccine .panel .flex-colum {
    width: 33.333%;
  }
  .vaccine .panel .flex-colum p {
    min-height: 125px;
  }

  .case figure {
    margin-bottom: 0px;
  }

  .question-list .flex-column {
    width: 50%;
  }

  .question-list .flex-column:nth-child(1) .box:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .question-list .flex-column:nth-child(2) .box:nth-child(even) {
    background-color: #f9f9f9;
  }

  .question-list .box p {
    padding-top: 0.8em;
  }
  .question-list .box span {
    font-weight: bold;
    font-size: 48px;
  }

  .question-list .box {
    padding: 32px 40px;
    height: 145px;
  }
}

@media screen and (max-width: 1099px) {
  .question-list .flex-column:nth-child(1) .box:nth-child(even) {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 768px) {
  .bg-img.bg {
    background-size: auto 70px;
  }

  .bg-img header.content {
    padding-top: 70px;
  }

  .case figure.pos figcaption {
    top: 4vw;
    font-size: 2.6vw;
  }
}

@media screen and (min-width: 750px) {
  #main-visual.home {
    height: 55vh;
  }

  header.home h1 {
    padding: 40px 0;
  }

  .sec-1 p {
    margin-bottom: 15px;
  }

  .sec-1 p:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  #main-visual.home {
    height: 40vh;
  }

  .corona .box.blue h2 br {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .case figure.pos figcaption {
    top: 3.4vw;
    font-size: 2.8vw;
  }

  img.max200 {
    max-width: 200px;
  }
}
