@charset "utf-8";

a.meanmenu-reveal {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  #header .mask {
    background: #fff;
    z-index: 1;
    width: 100%;
    height: 100vw;
    opacity: 1;
    display: none;
  }
}

.mean-container .mean-bar {
  width: 100%;
  position: fixed;
  background: none;
  min-height: 60px;
  z-index: 10;
  top: 0;
  left: 0;
}
.meanmenu-reveal-btn {
  position: absolute;
  display: block;
  z-index: 9999;
  box-sizing: border-box;
  background-image: url(../img/gnav_circle.png);
  width: 74px;
  height: 74px;
  right: 0;
  top: 0;
}
.meanmenu-reveal {
  width: 30px;
  height: 30px;
  margin: 13px 0 0 28px;
  display: block !important;
  position: relative;
}
.meanmenu-reveal:after {
  content: "MENU";
  position: absolute;
  bottom: -10px;
  color: #fff;
  font-size: 9px;
  width: 60px;
  left: -15px;
  text-align: center;
  display: block;
}
.meanmenu-reveal.meanclose:after {
  content: "CLOSE";
}
.meanmenu-reveal span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}
.meanmenu-reveal span:nth-of-type(1) {
  top: 0;
}
.meanmenu-reveal span:nth-of-type(2) {
  top: 8px;
}
.meanmenu-reveal span:nth-of-type(3) {
  top: 16px;
}

.meanmenu-reveal span:nth-of-type(1) {
  -webkit-animation: menu-ber01 0.75s forwards;
  animation: menu-ber01 0.75s forwards;
}
.meanmenu-reveal span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}
.meanmenu-reveal span:nth-of-type(3) {
  -webkit-animation: menu-ber02 0.75s forwards;
  animation: menu-ber02 0.75s forwards;
}

.meanclose span:nth-of-type(1) {
  -webkit-animation: active-menu-ber01 0.75s forwards;
  animation: active-menu-ber01 0.75s forwards;
  top: -2px;
}
.meanclose span:nth-of-type(2) {
  opacity: 0;
}
.meanclose span:nth-of-type(3) {
  -webkit-animation: active-menu-ber03 0.75s forwards;
  animation: active-menu-ber03 0.75s forwards;
}

@-webkit-keyframes menu-ber01 {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-ber01 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes menu-ber02 {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-ber02 {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes active-menu-ber01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(45deg);
  }
}

@keyframes active-menu-ber01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}

@-webkit-keyframes active-menu-ber03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
  }
}

@keyframes active-menu-ber03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.mean-container .mean-nav {
  width: 100%;
  margin-top: 97px;
  max-height: 100vh;
  overflow-y: auto;
}

.admin-bar .mean-container .mean-nav {
  margin-top: 106px;
}

.mean-container .mean-nav ul {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  position: relative;
  z-index: 99;
}
.mean-container .mean-nav ul ul.sub-menu {
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}

.mean-container .mean-nav ul li {
  position: relative;
  width: 100%;
  padding: 10px 0 10px;
  border-bottom: 1px solid #e2dcdc;
}

.mean-container .mean-bar .sub-menu li {
  padding: 0;
  border-bottom: none;
}

.mean-container .mean-nav ul.sub-menu li a {
  color: #3fb1b5;
  display: block;
  padding: 1em 15px;
  border-top: 1px solid #e2dcdc;
  text-shadow: none !important;
  visibility: visible;
}

.mean-container .mean-nav ul.sub-menu li:first-child a {
  border-top: none;
}

.mean-container .mean-nav ul.sub-menu li:last-child a {
  padding-bottom: 0;
}

.mean-container .mean-nav ul li.mean-last {
  border-bottom: none;
}

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}

.mean-container .mean-nav ul li .mean-expand {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 2px;
  background: url(../img/menu/vk-menu-acc-icon-open-black.svg) center 50%
    no-repeat;
  background-size: 28px 28px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.mean-container .mean-nav ul li .mean-expand.mean-clicked {
  background: url(../img/menu/vk-menu-close-white.svg) center 50% no-repeat;
  background-color: #3fb1b5;
  color: #3fb1b5;
}

.mean-container .mean-nav ul li .mean-expand:after {
  content: none;
}

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mean-remove {
  display: none !important;
}
