@charset "utf-8";
/*
Theme Name: seneric_tokyo
Theme URI:
Description:
Author: seneric_tokyo
Author URI:
Version:1.0.0
*/

/* RESET
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
main,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  line-height: 1.6;
  text-align: left;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  line-height: 1.6;
  text-align: left;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

strong {
  font-weight: bold;
}

button {
  border: none;
}

/* ----------------------------------------------

COMMON

---------------------------------------------- */

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 1.6em;
  font-family: "遊ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  color: #1f1f1f;
  -webkit-text-size-adjust: 100%;
}

/** IE */

@media all and (-ms-high-contrast: none) {
  body {
    font-family: "メイリオ", "Meiryo", sans-serif;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

p {
  font-size: 15px;
}

input[type="tel"],
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
}

input[type="tel"],
input[type="text"],
input[type="email"],
textarea {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  height: 30px;
  padding: 7px;
}

#center {
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background-color: red;
  z-index: 100;
  height: 600vw;
}

#left {
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  z-index: 100;
  height: 600vw;
}

#right {
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: red;
  z-index: 100;
  height: 600vw;
}

/* -----------------------------------------------

 * base.css

----------------------------------------------- */

* {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4 {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  line-height: 1.6em;
}

.mfont {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

p,
span {
  font-size: 15px;
  line-height: 1.44em;
  color: #221815;
}

main {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: #25b9bd;
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.btn:hover,
a:hover,
a:hover img {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

#submit-btn {
  padding: 10px 60px;
  font-size: 18px;
  background-color: #25b9bd;
  color: #fff;
  border: none;
}

.under {
  text-decoration: underline;
}

.blue {
  color: #25b9bd;
}

.key-color {
  color: #25b9bd;
}

.blue:hover {
  color: #25b9bd;
}

.blue-text {
  color: #25b9bd;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn {
  font-size: 18px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #25b9bd;
  padding: 5px 20px;
  min-width: 300px;
  position: relative;
}

.btn {
  font-weight: bold;
  text-align: center;
}

.btn .arrow {
  color: #25b9bd;
}

.btn .arrow:after {
  content: "\f105";
  font-family: fontawesome;
  color: #25b9bd;
  position: absolute;
  right: 15px;
}

.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

header.content h1,
header.content h2,
header.content h3 {
  color: #25b9bd;
}

/* ページネーション*/

.c-pagination {
  margin: 90px auto 40px auto;
  text-align: center;
  font-size: 0;
  font-size: 12px;
  clear: both;
}

.c-pagination:after {
  content: ";";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.c-pagination .c-pagination__item {
  display: inline-block;
  margin: 0 3px !important;
  font-size: 1.6rem !important;
}

.c-pagination .page-numbers,
.c-pagination .c-pagination__page {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #666;
  border-radius: 3px;
  color: #222;
  line-height: 32px !important;
  font-size: 12px !important;
  text-align: center;
}

.c-pagination .prev,
.c-pagination .c-pagination__prev {
  position: relative;
  display: block;
  padding: 0 15px !important;
  width: 60px;
  border: 1px solid #666;
  border-radius: 3px !important;
  color: #222 !important;
  line-height: 32px !important;
}

.c-pagination .next,
.c-pagination .c-pagination__next {
  position: relative;
  display: block;
  padding: 0 15px !important;
  width: 60px;
  border: 1px solid #666;
  border-radius: 3px !important;
  color: #222;
  line-height: 32px !important;
}

.c-pagination .current,
.is-current .c-pagination__page {
  border: 1px solid transparent;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: #ffb900;
}

@media screen and (min-width: 1100px) {
  .btn {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  p,
  span {
    font-size: 16px;
  }
}
